* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  overflow: hidden;
}

a {
  text-decoration: underline;
  color: $primary-color;
  &:focus, &:active, &:hover {
    font-weight: bolder;
    color: black !important;
  }
}

h1 {
  font-family: $header-font;
  display: inline;
  background: linear-gradient(to top, $primary-color 50%, transparent 50%);
  @include mq {
    font-size: 3em;
  }
}

h2 {
  @extend h1;
  font-size: 2em;
  @include mq {
    font-size: 2em;
  }
}

main {
  margin-top: 1em;
  padding: 1em;
  width: 100%;
  padding-top: 0em;
}

p {
  font-size: 1.5em;
  color: $primary-text-color;
  line-height: 1.3em;
  padding-bottom: 0.5em;
  margin-bottom: 0;
  @include mq {
    font-size: 1.5em;
  }
}

#greeting {
  display: none;
  margin: auto;
  text-align: center;
  padding-top: 2.5em;
  p {
    font-size: 2em;
  }
  @include mq {
    width: 53%;
  }
}

.more {
  text-decoration: none;
  color: black;
  float: right;
  background: linear-gradient(to top, $primary-color 40%, transparent 40%);
  font-size: 1.3em;
  line-height: 1.5em;
  margin-right: 1em;
  font-weight: 500;
  &::after {
    content: '\2192';
  }
  @include mq {
    margin-right: 2em;
    font-size: 1.6em;
  }
}

.work-pane {
  margin: auto;
  margin-top: 5em;
  visibility: hidden;
  position: relative;
  top: 100vh;
  transition: all 1s ease-out;
  text-align: center;
  width: fit-content;
}

.work {
  margin: auto;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  width: 90%;
  padding-bottom: 9em;
}

.work-item {
  display: flex;
  flex-direction: column;
  width: 12em;
  margin: 2em;
  position: relative;
  img {
    width: auto;
    display: block;
  }
}

.overlay-item {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $primary-color;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.work-item:hover .overlay-item {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}

button {
  text-transform: uppercase;
  border: $primary-color solid 2px;
  background: transparent;
  border-radius: 8px;
  margin: .2em;
  margin-bottom: .5em;
  padding: .2em;
  &:focus, &:active, &:hover {
    background: $primary-color;
    color: white;
  }
  @include mq {
    font-size: 1.3em;
    margin: .5em;
  }
}

.article {
  margin: auto;
  width: 80%;
  margin-bottom: 3em;
  @include mq {
    width: 60%;
  }
}

.list-education {
  list-style-type: none;
  font-size: 1.5em;
  color: $primary-text-color;
  line-height: 1.3em;
  padding-bottom: 0.5em;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  @include mq {
    font-size: 1.5em;
  }
  b {
    color: black;
  }
}

#web-work {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  padding-top: 0;
}

#ux-work {
  @extend #web-work;
}

#android-work {
  @extend #web-work;
}

#java-work {
  @extend #web-work;
}

.hidden {
  display: none !important;
}


.arrow {
  display: block;
  font-size: 3em;
}

.arr {
  text-decoration: none;
  color: black;
  &:focus, &:active, &:hover {
    font-weight: bolder;
    color: $primary-color !important;
  }
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 2em;
}

.info-item {
  color: $primary-text-color;
  font-size: 1.2em;
}

h3 {
  margin-bottom: 0;
  color: black;
}

.info-img {
  width: 100%;
  margin: .5em;
}

.info-img2 {
  width: 48%;
  margin: .5em;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.active-button {
  background: $primary-color;
  color: white;
}

svg {
  width: 5em;
  margin: .5em;
}

.skills {
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  img {
    height: 5em;
    margin: .5em;
  }
}