//=====================================
// Colors
//=====================================

$primary-color: #ffad2b;
$background-color: white;
$primary-text-color: #777777;


//=====================================
// Fonts
//=====================================

$header-font: 'Anton', sans-serif;
$primary-font: 'News Cycle', sans-serif;